<exhibit>
	<inputfile name="a.csv" time="17:30" grace-period="30">
		<structure>
			<field name="firstname" type="text"/>
			<field name="DOB" type="date"/>
		</structure>
	</inputfile>
	
	<inputfile name="b.csv" time="18:30" grace-period="30">
		<structure>
			<field name="amount" type="double"/>
			<field name="interest" type="int"/>
		</structure>
	</inputfile>

	<outputfile name="x.csv" time="13:46">
		<dependency file="a.csv"/>
		<dependency file="b.csv"/>
	</outputfile>
</exhibit>